:root{
  --primary-color: #1E262F;
  --primary-var-color: #101317;
  --secondary-color: #36F5C7;
  --secondary-var-color: #7FD18C;
  --white-color: #FFFFFF;
  --light-color: #b4b0b0;
}

*{
  margin: 0rem;
  padding: 0rem;
}
body,html{
  height: 100%;
  width: 100%;
}
body{
  background: var(--primary-color);
}
.white__icone{
  color: var(--white-color);
}
h1,h2,h3{
  color: var(--white-color);
}
p,small{
  color: var(--light-color);
}
.displayFlex{
display: flex;
text-align: center;
align-items: center;
}

.link{
  color: var(--white-color);
  text-decoration: none;
}


/* =====================MEDIA QUERIES (MEDIUM DEVICIES)================== */
@media screen and (max-width: 1024px){
  p{
    font-size: .7rem;
  }
  small{
    font-size: .6rem;
  }
  h1{
    font-size: .9rem;
  }
  h2{
    font-size: .8rem;
  }
  h3{
    font-size: .7rem;
  }
}


/* =====================MEDIA QUERIES (SMALL DEVICIES)================== */
@media screen and (max-width: 600px){
  
}